@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: #f26d3e;
  text-decoration: none;
  padding: 0.6rem 1rem;
  display: inline-block;
  text-align: center;
  color: #fff;
}

.banner-tittle {
  font-size: 75px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  line-height: 90px;
  text-transform: inherit;
}
